.cart__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 37rem;
  max-width: 100%;
}

.cart__item {
  align-items: center;
  display: grid;
  grid-template-columns: 2rem auto 6rem 5rem;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.cart__image {
  height: 2.5rem;
  width: auto;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.1rem #333;
}

.cart__subtext {
  font-size: 0.9rem;
  margin: 0;
}

.cart__total {
  border-top: 0.1rem solid currentColor;
  display: grid;
  grid-template-columns: auto 5rem;
  padding-top: 0.5rem;
}
