.button {
  --background-color: transparent;
  --color: var(--color-white);

  background: var(--background-color);
  border: var(--border-width--thick) solid var(--background-color);
  color: var(--color);
  outline: var(--border-width--thick) solid var(--background-color);
  padding: calc(var(--padding-default) * 2 / 3);
  text-decoration: none;
}

.button:focus {
  box-shadow: inset 0 0 0 var(--border-width--thick) var(--color);
  transition: border-width 0.2s, margin 0.2s;
}

.button:active {
  border-width: calc(var(--border-width--thick) * 2);
  margin: calc(var(--border-width--thick) * -1);
  transition: border-width 0.2s, margin 0.2s;
}
