.grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1rem;
  margin: 0 0 1rem;
  padding: 0;
}

.grid--wide {
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.grid--no-auto-fit {
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.grid--no-auto-fit.grid--wide {
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.grid__item {
  list-style: none;
  margin: 0;
}
