.language-selector {
  display: flex;
  flex-direction: row;
}

.language-selector .link {
  --color: var(--color-white);
  --background-color: var(--color-profile-main);

  border-bottom-style: none;
  margin-inline-end: 0.5rem;
  padding: 0.5rem 1rem;
}

.language-selector .link:focus {
  border-bottom-style: solid;
}

.language-selector__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.language-selector__flag {
  order: 1;
  height: 1rem;
  margin-inline-start: 0.5rem;
}
