:root {
  /* Color palette */
  --color-cornflowerblue: #6495ed;
  --color-blue-cola: #0088DC;
  --color-dark-cerulean: #005b94;

  /* Default color definitions */
  --color-profile-main: var(--color-dark-cerulean);
  --color: #333;
  --background-color: #fff;
  --border-width: 0.1rem;
  --border-width--thick: calc(var(--border-width) * 2);
  --margin-default: 1rem;
}

body {
  font-family: Arial, sans-serif;
  font-size: 110%;
}

#main {
  outline: none;
}
