.product-details {
  margin-bottom: 2rem;
}

@media screen and (min-width: 45em) {
  .product-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "heading heading"
      "preface preface"
      "image content";
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
  }
}

.product-details .heading {
  grid-area: heading;
  margin-bottom: 0;
}

.product-description {
  grid-area: preface;
}

.product-details__price {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: calc(var(--margin-default) / 2);
}

.product-details__before-price {
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: calc(var(--margin-default) * 2);

  /* text-decoration: line-through; */
  color: #666;
  vertical-align: middle;
}

.product-details__image {
  grid-area: image;
}

.product-details__content {
  grid-area: content;
}

.product-details__terms {
  font-size: 0.9rem;
  max-width: 90ch;
}

.product-details__video {
  max-width: 100%;
  width: 30rem;
}
