.header {
  color: var(--color-white);
  background: var(--color-profile-main);
  padding: 1rem 0;
}

.header__container {
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.header__menus {
  align-items: center;
  display: flex;
  flex-direction: row;
  float: right;
}

.menu {
  align-items: center;
}

.header__container > .menu, .header__container > .header__menus {
  display: none;
}

.mobile-menu.slide-in {
  width: 100%;
}

.mobile-menu .header__menus {
  display: block;
  width: 100%;
}

.mobile-menu .menu {
  display: block;
}

.mobile-menu .container {
  margin: auto 1rem;
  width: 100%;
}

.mobile-menu .dropdown__container {
  position: relative;
  top: initial;
  right: initial;
  box-shadow: none;
  border: 0;
}

.mobile-menu .navigation-list {
  display: block;
}

.mobile-menu .language-selector {
  display: block;
}

.mobile-menu .language-selector .dropdown__container {
  position: relative;
}

@media screen and (min-width: 35em) {
  .mobile-menu.slide-in {
    width: 50%;
  }
}

@media screen and (min-width: 48rem) {
  .mobile-menu, .mobile-menu__toggle {
    display: none;
  }

  .header__container > .menu, .header__container > .header__menus {
    display: flex;
  }
}
